doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title= title
    script(src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/fontawesome.min.js")
    link(href='https://fonts.googleapis.com/css2?family=Roboto&display=swap' rel='stylesheet')
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css")
    link(rel='stylesheet', href="/stylesheets/style.css")
  body.main-body
    header
    main(class="container")
      section(class="side-bar")
        div(class="side-bar__navigation")
          a(href="/dashboard")
            div(class=`nav-item${ active === 'dashboard' ? ' active' : ''}`)
              span.fas.fa-home.nav-icon
              span Dashboard
          a(href="/bills")
            div(class=`nav-item${ active === 'bills' ? ' active' : ''}`)
              span.fas.fa-file-invoice.nav-icon
              span Bills
          a(href="/payments")
            div(class=`nav-item${ active === 'payments' ? ' active' : ''}`)
              span.fas.fa-money-check.nav-icon
              span Payments
          a(href="/apartments")
            div(class=`nav-item${ active === 'apartments' ? ' active' : ''}`)
              span.fas.fa-building.nav-icon
              span Apartments
        div(class="side-bar__others")
          a(href="/settings")
            div(class=`nav-item${ active === 'settings' ? ' active' : ''}`)
              span.fas.fa-tools.nav-icon
              span Settings
          a(href="/notifications")
            div(class=`nav-item${ active === 'notifications' ? ' active' : ''}`)
              span.fas.fa-bell.nav-icon
              span Notifications
          a(href="/change-password")
            div(class=`nav-item${ active === 'change password' ? ' active' : ''}`)
              span.fas.fa-key.nav-icon
              span Change Password
                    a(href="/logout")
            div(class='nav-item')
              span.fas.fa-power-off.nav-icon
              span Logout
      section(class="card main-content")
        block content
