extends ../layout

block content

  div(class="card__title clearfix")
    span Payments
    a(href="/payments/new")
      button.btn.btn--new.btn--new--bill <i class="fas fa-plus"></i> New Payment
  div(class="card__body")
    table#paymentsTable.clearfix
      thead
        tr
          th Receipt Number
          th Apartment
          th Bill
          th Amount
          th Paid On
          th Action
      tbody
         each payment in payments
          tr
            td
              a(href=`/payments/${payment.id}`, class="view")=payment.receiptNumber
            td=payment.Apartment.address()
            td=payment.Bill.name
            td= payment.formattedAmount()
            td= payment.formattedCreatedAt()
            td
              a(href=`/payments/${payment.id}/approve`)
                button.btn.btn--link-to Approve
    div#total-payment
      div.title Total Payments: &nbsp;
      div#value

