extends ../layout

block content

  div(class="card__title clearfix")
    span Payments
    a(href=`${newUrl}`)
      button.btn.btn--new.btn--new--bill <i class="fas fa-plus"></i> New Payment
  div(class="card__body")
    table#paymentsTable.clearfix.full
      thead
        tr
          th Payment Number
          th Apartment
          th Bill
          th Amount
          th Paid On
          th Admin
          th Actions
      tbody
         each payment in payments
          tr
            td
              a(href=`/payments/${payment.id}`, class="view")=payment.receiptNumber
            td=payment.Apartment.shortAddress()
            td=payment.Bill.name
            td= payment.formattedAmount()
            td= payment.formattedCreatedAt()
            td= payment.processedBy()
            td
              if payment.approved()
                span(class="badge badge--success") Approved
              if currentUser.isSuperAdmin()
                if !payment.approved()
                  a(href=`/payments/${payment.id}/approve`)
                    button.btn.btn--link-to Approve
                span.fas.fa-trash.delete(data-href=`/payments/${payment.id}/delete`)=auth


    div#total-payment
      div.title Total Payments: &nbsp;
      div#value

  include ../partials/_deleteConfirmationModal


