extends ../layout

block content
  div.card__title
    span New Payment
    p.card__hint Record a payment
  form.new-bill(action='/payments', method="POST")
    div.card__body
      div.form-group
        label(for='amount') Receipt Number
        input#form-payment(type='text' name='receiptNumberVisual' value=`${receiptNumber}` placeholder='receipt Number' disabled='disabled')
        input#form-payment(type='hidden' name='receiptNumber' value=`${receiptNumber}` placeholder='receipt Number')
      div.form-group
        label(for='BillId') Bill
        select.bills-dropdown(name="billId")
          each bill in bills
            option(value=`${bill.id}`)=bill.name
      div.form-group
        label(for='apartmentId') Apartment
        select.apartments-dropdown(name="apartmentId")
          each apartment in apartments
            if apartmentId == apartment.id
              option(value=`${apartment.id}` selected=true)=apartment.address()
            else
              option(value=`${apartment.id}`)=apartment.address()
      div.form-group
        label(for='amount') Amount
        input#form-payment(type='number' name='amount' value=`${amount}` placeholder='Amount')
        
      div.form-group
        input.btn--primary.btn--save(type='submit' value='Save')

