extends ../layout

block content
  div(class="card__title") Apartments
  div(class="card__body")
    table#apartmentsTable.clearfix
      thead
        tr
          th id
          th Address
          th Bill
          th Actions
          th
      tbody
         each apartment in apartments
          tr
            td=apartment.id
            td=apartment.address()
            td=apartment.name
            td
              a(href=`/payments?apartment=${apartment.id}`) View Payments
            td
              a(href=`/apartments/${apartment.id}/edit`)
                button.btn.btn--new <i class="fas fa-edit"></i> Edit